<%#
  Displays navigation arrows at the bottom of pagable sections, like downloads/fonts.
  Arguments:
    page - the url of the current page we're showing.
    offset
    limit (how many results per page)
    total
 %>

<table border=0 cellpadding=0 cellspacing=0><tr><td>

<% if offset == 0 %>
  <img src="/layout/arrowPrevGray.jpg" />
<% else %>
  <a href="<%= page %>?offset=<%= offset - limit %>&limit=<%= limit %>"><img
    src="/layout/arrowPrev.jpg" border=0></a>
<% end %>

</td><td width=100%><center><font size=2 face=arial>
Viewing <%= offset + 1 %> - <%= [offset + 1, total].min %> of <%= total %>.<br/>
</td><td>
<% if offset + limit >= total %>
  <img src="/layout/arrowNextGray.jpg" />
<% else %>
  <a href="<%= page %>?offset=<%= [total, offset + limit].min %>&limit=<%= limit %>"><img
    src="/layout/arrowNext.jpg" border=0></a>
<% end %>
</td></tr></table>