<table border="0" cellpadding="0" cellspacing="4">
<tr>
  <td>
  <a href="/view_image_set?id=<%= image.id %>"><img
    src="/assets/freeimages/<%= image.type %>/<%= image.path %>/thumbnail.<%= image.file_extension %>"
    border="0" /></a>
  </td>
  <td valign="top" width="100%">
    <b>"<%= image.title %>"</b> (<%= image.items_in_set %> <%= image.type %>s)<br/>
    Approximate image size: <%= image.size %>K<br/>
    <%= image.description ? "No description" : image.description %>
  </td>
</tr>
</table>